<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>AppVersion</string>
			<key>Key</key>
			<string>Key_AppVersion</string>
			<key>DefaultValue</key>
			<string>3.6.00</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>DocServerName</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ServerName</string>
			<key>Key</key>
			<string>Key_ServerName</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ServerPort</string>
			<key>Key</key>
			<string>Key_ServerPort</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ServerAppName</string>
			<key>Key</key>
			<string>Key_ApplicationName</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ServerResourceName</string>
			<key>Key</key>
			<string>Key_ResourceName</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>UserRoleId</string>
			<key>Key</key>
			<string>Key_RoleId</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>UserName</string>
			<key>Key</key>
			<string>Key_UserName</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>Key_Password</string>
			<key>IsSecure</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AskPassword</string>
			<key>Key</key>
			<string>Key_AskPassword</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SSL</string>
			<key>Key</key>
			<string>Key_SSLEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>STunnelGroupTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>UseSTunnel</string>
			<key>Key</key>
			<string>Key_UseSTunnel</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ServerName</string>
			<key>Key</key>
			<string>Key_STunnelServer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>PortSTunnel</string>
			<key>Key</key>
			<string>Key_STunnelPort</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<!--
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>UseSTunnelCert</string>
			<key>Key</key>
			<string>Key_UseSTunnelCert</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		-->

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ProxyGroupServerName</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ProxyUserName</string>
			<key>Key</key>
			<string>Key_ProxyUserName</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ProxyPassword</string>
			<key>Key</key>
			<string>Key_ProxyPassword</string>
			<key>IsSecure</key>
			<string>Yes</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>AuthExtraGroupServerName</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>AuthExtraUserName</string>
			<key>Key</key>
			<string>Key_AuthExtraUserName</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>AuthExtraPassword</string>
			<key>Key</key>
			<string>Key_AuthExtraPassword</string>
			<key>IsSecure</key>
			<string>Yes</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SyncGroupName</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SyncAtStart</string>
			<key>Key</key>
			<string>Key_Sync</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Automatic</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>Key_SyncTime</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>NoSync</string>
				<string>5</string>
				<string>10</string>
				<string>15</string>
				<string>30</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>MaxDocCount</string>
			<key>Key</key>
			<string>Key_MaxDocCount</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>LinkedDocsSelf</string>
			<key>Key</key>
			<string>Key_LinkedDocsSelf</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>LinkedDocsAtts</string>
			<key>Key</key>
			<string>Key_LinkedDocsAtts</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>MaxAttMb</string>
			<key>Key</key>
			<string>Key_MaxAttMb</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GroupNameTypicalResolutionTimes</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>1</string>
			<key>Key</key>
			<string>Key_ResTime1</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>WorkingDays</string>
			<key>Key</key>
			<string>Key_WD1</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>2</string>
			<key>Key</key>
			<string>Key_ResTime2</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>WorkingDays</string>
			<key>Key</key>
			<string>Key_WD2</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>3</string>
			<key>Key</key>
			<string>Key_ResTime3</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>WorkingDays</string>
			<key>Key</key>
			<string>Key_WD3</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>DelayGroupName</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>DelayTime</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>Key_DelayTime</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>0</string>
				<string>5</string>
				<string>10</string>
				<string>15</string>
				<string>30</string >
			</array>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MarkAsReadGroupName</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>MarkAsReadSecondsName</string>
			<key>Key</key>
			<string>Key_MarkAsRead</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>0</integer>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GroupName_Additional</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ShowExecutionDate</string>
			<key>Key</key>
			<string>Key_ShowExecutionDate</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>FinishWithoutResolution</string>
			<key>Key</key>
			<string>Key_FinishWithoutResolution</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>strCreateChildTasks</string>
			<key>Key</key>
			<string>Key_CreateChildTasks</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>strShowResponsible</string>
			<key>Key</key>
			<string>Key_ShowResponsible</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SwitchOffStdFolders</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>NaSogl</string>
			<key>Key</key>
			<string>Key_SwitchOffSogl</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>NaPodpis</string>
			<key>Key</key>
			<string>Key_SwitchOffPodpis</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>NaRassmotr</string>
			<key>Key</key>
			<string>Key_SwitchOffRassmotr</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>NaExec</string>
			<key>Key</key>
			<string>Key_SwitchOffExec</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>NaAcceptExec</string>
			<key>Key</key>
			<string>Key_SwitchOffAcceptExec</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>NaReading</string>
			<key>Key</key>
			<string>Key_SwitchOffRead</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TaskExecutors</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SelectFromWhom</string>
			<key>Key</key>
			<string>Key_ResExecsFavoriteOnly</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TechGroupName</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>EraseData</string>
			<key>Key</key>
			<string>Key_EraseData</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ShowLog</string>
			<key>Key</key>
			<string>Key_ShowLog</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ShowCryptoButton</string>
			<key>Key</key>
			<string>Key_ShowCryptoButton</string>
			<key>DefaultValue</key>
			<false/>
		</dict>

	</array>
</dict>
</plist>
